 index.html{
    background-color: #ffffff ;
}

.common {
    border: 2px solid black;
    background-image: "https://assets.ldscdn.org/64/b8/64b8f9fa0d384a9fb477725a6703207720d8dc12/miracles_of_jesus_healing_blind_man.jpeg";
    position: absolute;
}
.header {
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.left-menu {
    top: 100px;
    left: 0;
    width: 20%;
    height: calc(100% - 200px);
}

.main-body {
    top: 100px;
    left: 20%;
    width: 60%;
    height: calc(100% - 200px);
}

.right-menu {
    top: 100px;
    left: 80%;
    width: 20%;
    height: calc(100% - 200px);
}

.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}