body {
          font-family: Arial, Helvetica, sans-serif; 
          font-size: 15px; 
          text-align: center;
            color: rgb(124, 145, 89);
        }
        li {
            text-align: left;
            margin-left: 35%;
            font-size: 14px;
            font-weight: bold;
        }